.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 12px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.is-visible {
  visibility: visible !important;
}

.is-hidden {
  visibility: hidden;
}

ul {
  list-style-type: none;
  text-align: left;
    padding: 10px 0 10px 36px;
    margin: auto 0;
  }

li {
  text-align: left;
  cursor: pointer;
  padding-top: 2px;
}

li:hover {
  text-decoration: underline;
}